body {
    100%;
    background-color: black;
}


.greenbutton {
	width: 17%;
	height: 10%;
    position: relative;
  
    left: 54%;
  
    
}

.redbutton {
	width: 17%;
	height: 10%;
    position: relative;

    left: 10%;
  
    
    
}
h1 {
    text-align: center;
    font-size: 500%;
    position: relative;
 font-family: 'Roboto', sans-serif;
    

}
h2{
    text-align: center;
     font-family: 'Roboto', sans-serif;
  
    
}


